
h3{
	text-align:center;
	border-bottom-color: white;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	
}
body{
	background-color: #f1a23d;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
}
p{

}
img{
	max-width: 200px;
}
